@model TraineeCourseResultViewModel
@{
    ViewData["Title"] = "ShowResult";
}

<h1 style="color:@Model.ResultColor">This is the result of @Model.TraineeName</h1>

<p style="color:@Model.ResultColor"><strong>Name:</strong> @Model.TraineeName</p>
<p style="color:@Model.ResultColor"><strong>Course:</strong> @Model.CourseName</p>
<p style="color:@Model.ResultColor"><strong>Result:</strong> @Model.CourseDegree</p>
<p style="color:@Model.ResultColor"><strong>Status:</strong> @Model.Status</p>




