 @model TraineeResultViewModel
@{
    ViewData["Title"] = "ShowTraineeResult";
}

<h1>Those are Course results of @Model.Name</h1>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Course Name</th>
            <th>Degree</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        
            @foreach(var course in Model.Crs)
            {    
            <tr style="color: @course.Color">
                <td>@course.CourseName</td>
            <td>@course.CourseDegree</td>
                <td>@course.Status</td>
            </tr>
            }
    </tbody>
</table>